{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="text-center">
        <h1>Welcome to UWMCC BUCS Fantasy Cricket!</h1>
        <p>This website contains all the information you need to keep up to date with the UWMCC BUCS Fantasy Cricket
            League.</p>
        <h3>How Fantasy Cricket works</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 bg-primary">
                <div class="text-center">
                    <h2><u>1. Team Selection</u><br></h2>
                </div>
                <ul>
                    <li>Each UWMCC player is asssigned a <b>role</b> (batsmen, bowler, keeper or all-rounder),
                        a <b>squad</b> (1s/2s, 3s/4s or Dev), and a <b>price</b></li>
                    <li>Participants can select their Fantasy XI, subject to the following constraints:
                        <ul>
                            <li>constraint 1</li>
                        </ul>
                    </li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>
            <div class="col-md-4 bg-secondary">
                TWO
            </div>
            <div class="col-md-4 bg-danger">
                THREE
            </div>
        </div>
    </div>
</div>
{% endblock %}