{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <body>
        <div class="text-center">
            <h1>Welcome to UWMCC BUCS Fantasy Cricket!</h1>
            <p>This website contains all the information you need to keep up to date with the UWMCC BUCS Fantasy Cricket League.</p>
        </div class="text-left">
            <h3>How Fantasy Cricket works</h3>
            <ol>
                <li> Each player in UWMCC gets assigned a <b>role</b> (Batsman, Bowler, Wicket-Keeper or All-Rounder), a <b>squad</b> (1s/2s, 3s/4s or Dev), and a <b>price</b>.</li>
                <li> 
                    UWMCC members can then choose their Fantasy Team, subject to the following restraints. Each team must:
                    <ul>
                        <li> Cost <b>no more than £100 million</b></li>
                        <li> Contain <b>exactly 4 batsmen</b> (Wicket-keepers can also be picked as a batsman)</li>
                        <li> Contain <b>exactly 3 all-rounders</b></li>
                        <li> Contain <b>at least 1 wicket-keeper</b>(additional keepers can be picked as batsmen</li>
                        <li> Contain <b>exactly 3 bowlers</b></li>
                        <li> Contain <b>no more than 6 players from the same squad</b></li>
                    </ul>
                </li>
                <li> BUCS matches are played each week, where players can pick up <b>points</b> for batting, bowling and fielding. 
                    A team's points is the sum of all of its individuals' points. The points are CALCULATED as follows:
                    <ul>
                        <li>This line is to test GitHub integration with Heroku</li>
                    </ul>
                </li>

                
            </ol>

        <div>

        </div>
    </body>
    <h1></h1>
</div>
{% endblock %}
