{% extends "base.html" %}
{% block content %}

<h3 class="text-center text-white display-3"><b>About Warwick Fantasy Cricket</b></h3>

<!--How Fantasy Cricket Works row-->
<div class="row bg-primary p-3">
    <h4 class="text-center text-white display-4 p-4"><b>How Fantasy Cricket Works</b></h4>
    <!--Left Column-->
    <div class="col-lg p-3 bg-dark">
        <h5 class="text-center text-white display-5">Step 1: Allocation</h5>
        <ul class="text-white">
            <li class="p-2">Each UWMCC player is assigned a <b>PRICE</b></li>
            <li class="p-2">Each UWMCC is assigned a <b>ROLE</b> (Batsman, Bowler, All-Rounder or Wicket-Keeper</li>
            <li class="p-2">Each UWMCC player is assigned a <b>SQUAD</b> (1s/2s, 3s/4s, or Development)</li>
        </ul>
    </div>
    <!--Middle Column-->
    <div class="col-lg p-3 bg-dark">
        <h5 class="text-center text-white display-5">Step 2: Team Selection</h5>
        <p class="text-center text-white p-1">Entrants select their Fantasy XI. Each team <b>MUST</b>:</p>
        <ul class="text-white">
            <li>Cost <b>no more</b> than £100m</li>
            <li>Contain <b>exactly 4 batsmen</b> (keepers can also be played as batsmen)</li>
            <li>Contain <b>exactly 3 bowlers</b></li>
            <li>Contain <b>exactly 3 all-rounders</b></li>
            <li>Contain <b>at least 1 wicket-keeper</b> (one of which is the designated keeper, the others are played as batsmen)</li>
            <li>Contain <b>no more than 6</b> players from the same squad</li>
        </ul>
    </div>
     <!--Right Column-->
     <div class="col-lg p-3 bg-dark">
        <h5 class="text-center text-white display-5">Step 3: Play!</h5>
        <ul class="text-white">
            <li class="p-2">BUCS matches are played each week</li>
            <li class="p-2">Individual players score <b>points</b>, contributing towards their team's overall points total (see below for how points are calculated)</li>
            <li class="p-2">Track the <b>League Table</b> and all the <b>stats</b> you need on this website!</li>
        </ul>
    </div>
</div>

<!--Points Calculator Table Row-->
<div class="row bg-primary text-center p-5">
    <h4 class="text-center text-white display-4 p-4"><b>How points are calculated</b></h4>
    {{ points_table | safe }}
</div>

<!--About the website creators-->
<div class="row bg-primary text-center text-white p-5">
    <h3 class="display-3 p-4"><b>About the website creators</b></h3>
    <!--Left Column-->
    <div class="col-lg p-3 bg-dark">
        <h4 class="display-4"><b>Ed Churchill</b></h4>
        <img class="img-fluid p-3" src="/static/images/ed_face.jpg" alt="Can't display image">
        <h5 class="display-6">Mathematics</h5>
        <h5 class="display-6">University of Warwick (grad. 2022)</h5>
        <h1 class="p-3">ed.churchill00@gmail.com</h1>
    </div>
    <!--Right column-->
    <div class="col-lg p-3 bg-dark">
        <h4 class="display-4"><b>Kacper Kazaniecki</b></h4>
        <img class="img-fluid p-3" src="/static/images/kacper_face.png" alt="Can't display image">
        <h5 class="display-6">Computer Science</h5>
        <h5 class="display-6">Imperial College London (grad. 2022)</h5>
        <h1 class="p-3">kacperkazaniecki@gmail.com</h1>
    </div>
</div>

{% endblock %}