{% from "macros.html" import nav_link with context %}
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.scss')}}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <title>Fantasy Cricket</title>
</head>

<body style="background: rgb(20, 20, 20)">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a {{nav_link("/")}} href="/">Home</a>
          </li>

          <li class="nav-item">
            <a {{nav_link("/about")}} href="/about">About</a>
          </li>

          <li class="nav-item">
            <a {{nav_link("/dream-teams")}} href="/dream-teams">Dream Teams</a>
          </li>

          <li class="nav-item">
            <a {{nav_link("/teams")}} href="/teams">Teams</a>
          </li>

          <li class="nav-item">
            <a {{nav_link("/players")}} href="/players">Players</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container-fluid" >
    {% block content %}{% endblock %}
  </div>


  <!-- Links to socials -->
  <div class="container-fluid">
    <div class="row bg-dark text-center text-white p-3">
      <div class="col-lg p-3">
          <img src="/static/images/facebook_logo.png" alt="fb logo">
          <p><a class="display-6" href="https://www.facebook.com/uowmcc" target="_blank">facebook.com.uowmcc</a></p>
      </div>
      <div class="col-lg p-3">
          <img src="/static/images/instagram_logo.png" alt="insta logo">
          <p><a class="display-6" href="https://www.instagram.com/uowmcc/" target="_blank">instagram.com/uowmcc</a></p>
      </div>
      <div class="col-lg p-3">
          <img src="/static/images/twitter_logo.png" alt="twitter logo">
          <p><a class="display-6" href="https://twitter.com/UoWMCC" target="_blank">twitter.com/UoWMCC</a></p>
      </div>
    </div>

  </body>

</html>