{% from "macros.html" import nav_link with context %}.
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.scss')}}">
  {#m
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <title>Fantasy Cricket</title>
</head>

<body style="background: rgb(20, 20, 20)">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a {{nav_link('/')}} href="/">Home</a>
          </li>

          <li class="nav-item">
            <a {{nav_link('about')}} href="about">About</a>
          </li>

          <li class="nav-item">
            <a {{nav_link('dream-team')}} href="dream-team">Dream Team</a>
          </li>

          <li class="nav-item">
            <a {{ nav_link('teams') }} href="teams">Teams</a>
          </li>

          <li class="nav-item">
            <a {{ nav_link('players') }} href="players">Players</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>



  <div class="container" >
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>