{% extends "base.html" %}
{% block content %}

<h1 class="text-center text-white display-3 p-3"><b>Dream Teams</b></h1>

<!--About Row-->
<div class="row bg-primary p-5">
    <h5 class="text-center text-white display-5">A Dream Team consists of the 4 best scoring batsmen, 3 best scoring all-rounders, 
        3 best scoring bowlers, and the best scoring wicket keeper in the given time frame.</h5>
</div>

<!--Current Team Row-->
<div class="row bg-primary p-5">
    <h5 class="text-center text-white display-5"><b>Current Dream Team</b> <br> (based on total points)</h5>
    {{current_team|safe}}
</div>

<!--Weekly rows-->
{% for num in week_nums %}
    <div class="row bg-primary p-5">
        <h5 class="text-center text-white display-5"><b>Week {{num}} Dream Team</b> </h5>
        {{ weekly_teams[week_nums.index(num)] | safe }}
    </div>
{% endfor %}

{% endblock %}