{% extends "base.html" %}
{% block content %}
<h1 class="text-center text-white display-2">{{ player_name }}</h1>
<h5 class="text-center text-white display-5">Player Stats</h5>

<!--First Row-->
<div class="row bg-primary">
    <!--Left Column-->
    <div class="col-lg p-3">
        <div id="chart" class="text-center">
            <embed type="image/svg+xml" src= {{ bar_graph|safe }} />
          </div>
    </div>
    <!--Right Column-->
    <div class="col-lg p-3">
        <div id="chart" class="text-center">
            <embed type="image/svg+xml" src= {{ line_graph|safe }} />
          </div>
    </div>
  </div>
  
  <!--Second Row-->
  <div class="row bg-primary">
    <div id="chart" class="text-center">
      <embed type="image/svg+xml" src= {{ radar_graph|safe }} />
    </div>
  </div>
  
  <!--Third row-->
  <div class="row bg-primary p-5">
      <h1 class="text-center text-white display-2">Total picks: {{ total_picks }}</h1>
      {% if total_picks!= 0 %}
        <h3 class="text-center text-white display-5">{{player_name}} is in the following teams:</h3>
        {{ picks_table | safe }}
      {% endif %}
  </div>

{% endblock %}